**/__pycache__
**/projects
**scratch**
scripts/data_to_load/**
venv/
*.sqlite3
phusis/files_to_embed/*
phusis/secret_sauce/*
phusis/migrations/db_backups
.secrets/**
venv
.vscode
**/fixtures/
.vscode/settings.json
