<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Book - Noveller</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-3">
        <h1>noveller</h1>
        <h6>    a phusis Application</h6>
        <p>Select Your Project</p>
        <form method="get" action="{% url 'edit_project' %}">
            <div class="form-group">
                <label for="book">Choose an existing book:</label>
                <select class="form-control" id="book" name="book_id">
                    {% for book in books %}
                        <option value="{{ book.id }}">{{ book.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Edit Book</button>
        </form>
        <hr>
        <form method="get" action="{% url 'create_project' %}">
            <button type="submit" class="btn btn-secondary">Create a New Book</button>
        </form>
    </div>
</body>
</html>
